<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <br />
        <%= form_with(model: project, local: true, id: 'demo-form2', class: 'form-horizontal form-label-left') do |form| %>
          <% if project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>     

          <div class="form-group">
            <label for="second_team_score" class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="name" class="form-control col-md-7 col-xs-12" type="text" name="project[name]" value="<%= project.name %>">
            </div>
          </div>              

          <div class="form-group">
            <label for="second_team_score" class="control-label col-md-3 col-sm-3 col-xs-12"> Start Date</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="name" class="form-control col-md-7 col-xs-12" type="date" name="project[start_date]" value="<%= project.start_date %>">
            </div>
          </div>           

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>