<div class="navbar nav_title" style="border: 0;">
  <%= link_to('Product Management', root_path, class: "site_title" ) %>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <%= image_tag("img.jpg", class: "img-circle profile_img") %>
  </div>
  <div class="profile_info">
    <h2>Welcome,</h2>
    <h2><%= current_user.fullname %></h2>
  </div>
</div>
<!-- /menu profile quick info -->

<br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Project Management <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
         <% if @admin %> <li><%= link_to 'Projects', projects_path %></li><% end %>
          <% if @admin %><li><%= link_to 'Tasks', tasks_path %></li><% end %>
          <% if @admin %><li><%= link_to 'Developers Work Status', {controller: 'tasks', action: 'developers_task_status'} %></li><% end %>
          <% if @admin %><li><%= link_to 'Projects Tasks Status',  {controller: 'tasks', action: 'projects_tasks_status'} %></li><% end %>
          <% if @admin %><li><%= link_to 'Project Graphs',  {controller: 'projects', action: 'projects_status'},data: { turbolinks: false } %></li><% end %>
          <% unless @admin %><li><%= link_to 'My Tasks', tasks_path %></li><% end %>
        </ul>
      </li>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </ul>
  </div>

</div>

<% if user_signed_in? %>
  <li>
          
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>
<!-- /sidebar menu -->

