<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>

    <style>
      /*Devise flash*/
      .alert-error {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
        text-align: center;
      }
      .alert-alert {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
        text-align: center;
      }
      .alert-notice {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
        text-align: left;
      }
    </style>
    <title><%= yield :title %></title>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <%= render partial: 'layouts/leftnav' %>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <%= render partial: 'layouts/topnav' %>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
        <% flash.each do |key, value| %>
            <div align="center" id="flash" class="alert alert-<%= key %>">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <ul style="text-align: center">
                <l>
                <b> <%= value %>  </b>
                </l>
              </ul>
            </div>
        <% end %>
          <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
<!--         <footer>
          <%#= render partial: 'layouts/footer' %>
        </footer> -->
        <!-- /footer content -->
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </body>
</html>